body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#calculator {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    background-color: #f4f4f4;
}

#display {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: right;
}

.row {
    display: flex;
}

button {
    flex: 1;
    padding: 10px;
    margin: 5px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fff;
}

button:hover {
    background-color: #ddd;
}

.operator {
    background-color: #f0f0f0;
    color: #333;
}

#equals {
    background-color: #ff9933;
    color: #fff;
}
